/* boilerplate  */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

/* styling starts here */

body {
    margin: 0;
    height: 100vh;
    background-color: black;
    padding: 100px;
}


main {
    height: auto;
    width: 33em;
    /* centers the Todo App Hero */
    margin: auto;
    background-color: rgb(23, 23, 23);
    border: 2px solid white;
    border-radius: 1em;
    padding: 1em;
}


h1 {
    color: white;
    text-align: center;
    margin-bottom: 0.5em;

}

form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.taskInput,
.editInput {
    margin: 0.9em;
    min-height: 2.7em;
    width: 23.3em;
    padding: 10px;
    resize: none;
    overflow-y: hidden;
    font-size: medium;
    color: white;
    background-color: black;
    border: 2px solid white;
    border-radius: 1em;
    box-sizing: border-box; 
}

.editInput {
    margin: 0;
}

.addButton,
.deleteButton,
.editButton,
.saveButton,
.taskStatus {
    height: 2.6em;
    width: 5em;
    color: white;
    font-size: 1em;
    margin: 2px;
    border: 2px solid white;
    background-color: black;
    border-radius: 0.5em;
    cursor: pointer;
}

footer {
    height: 100px;
    width: 100px;
}

.Inside_tasks_div {
    display: flex;
    flex-direction: row;
    background-color: white;
    color: white;
    margin: 0.9em;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(23, 23, 23);
}

.taskTEXT {
    /* margin: 0.9em; */
    min-height: 2.7em;
    height: auto;
    width: 14em;
    padding: 10px;
    font-size: medium;
    overflow-wrap: break-word;
    color: white;
    background-color: black;
    border: 2px solid white;
    border-radius: 1em;
}


.addButton {
    position: relative;
    right: 0.75em;
}

.taskStatus {
    height: 2.6em;
    width: 3.5em;
    color: white;
    font-size: 1em;
    margin: 2px;
    border: 2px solid white;
    background-color: black;
    border-radius: 0.5em;
    cursor: pointer;
}

.saveButton {
    margin: 0;
}

.buttonStorage {
    position: relative;
    left: 3px;
}